:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* custom */
  --headings-color: #000000;
  --text-color: #333333;
  --success-green: #1EBA15;
  --success-gold: #e49009;
  --grey-color: #f7f7f7;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import font files */
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.woff2') format('woff2'),
       url('./assets/fonts/Poppins-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.woff2') format('woff2'),
       url('./assets/fonts/Poppins-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Set the default font */
body {
  font-family: 'Poppins', sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100vh;
}

.glassmorphic {
  /* min-height: 100vh; */
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  /*border-radius: 16px;*/ /* Rounded corners */
  backdrop-filter: blur(10px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px); /* Blur effect for Safari */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
}

.glassmorphic-red {
  /* min-height: 100vh; */
  position: relative;
  z-index: 1;
  background: rgba(211, 58, 58, 0.1); /* Semi-transparent background */
  /*border-radius: 16px;*/ /* Rounded corners */
  backdrop-filter: blur(10px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px); /* Blur effect for Safari */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
}

.bg-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6; /* Reduce opacity to 60% */
  pointer-events: none; /* Ensure the image does not interfere with other elements */
  object-fit: cover; /* Cover the entire container */
  object-position: center; /* Center the image */
  
}

.bg-animation::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(228, 69, 72, 0.6); /* Color overlay with 60% opacity */
  mix-blend-mode: overlay; /* Blend mode to apply the color overlay */
  pointer-events: none; /* Ensure the overlay does not interfere with other elements */
}

.rootWrap {
  height: 100%;
  width: 100%;
}
.bg-animation-div {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  pointer-events: none; /* Ensure the image does not interfere with other elements */
  background-image: url('src/assets/video/bubbles_peach_anim.gif');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Scale the background image to cover the entire container */
  background-clip: content-box; /* Clip the background to the content box */
}

/* Ensure all elements inherit the font */
* {
  font-family: inherit;
  /* color: var(--text-color); */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 2.2em;
  font-weight: 500;
  line-height: 1.1;
  color: var(--headings-color);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.icon-white {
  fill: white !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
